@import "../../styles/index";

.post__static-photos-container {
	
	width: 100%;
	
	@include container;

	.post__static-photo {
		position: relative;
		// height: 0;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}