@import "../../styles/index.scss";

.header__container {
	
	@include container;

	margin: 10px auto 10px auto;
	padding: 15px 20px 0 15px;

	.header {
		font-family: $cursive-font-family;
		font-size: 2.6rem;
		
		font-weight: 100;
	}
}

html[theme=dark] {
	.header__container {
		.header {
			color: #FAFAFA;
		}
	}
}