@import "../../styles/index.scss";

.sub-header__container {
	max-width: 1200px;
	margin: 10px auto;
	padding: 15px 20px;

	.sub-header {
		font-family: $font-family;
		font-size: 1.4rem;
		font-weight: 100;
	}
}

html[theme=dark] {
	.sub-header__container {
		.sub-header {
			color: #FAFAFA;
		}
	}
}