@import "../../../styles/index";

html {
	&[theme=dark] {
		.new-post__component {
			.drop-zone__section {
			}
		}
	}
	&[theme=light] {
		.new-post__component {
			.drop-zone__section {
			}
		}
	}
}

.new-post__component {
	max-width: 100%;
	margin-bottom: 80px;

	.form-action__container {
		width: 100%;
		margin: 0 auto;
		box-sizing: border-box;
			
		@include small-up {
			max-width: 100%;
		}

		@include medium-up {
			max-width: 300px;
		}

		padding: 10px;
		display: flex;
		justify-content: center;

		
	}

	.form-action {
		border: 1px solid #B0B0B0;
		border-radius: 3px;
		padding: 10px 25px;
		height: 40px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: inherit;
		background: transparent;
		cursor: pointer;

		@include light-theme-navigation-background;

		&__primary {
			@include light-theme-primary;
			color: black;
			border-color: #9dcda2;
		}
	}

	

	.new-post__header {
		text-align: center;
		margin: 10px auto;
		font-size: 1.2rem;
		font-weight: 100;
	}

	.drop-zone__section {
		padding: 10px;
		display: flex;
		
		box-sizing: border-box;
		align-items: stretch;
		justify-content: center;
		color: $nord3;

		height: 150px;
		cursor: pointer;

		&--small {
			height: 40px;
			padding: 0;
			width: 100%;
			margin: 0 auto;

			@include small-up {
				max-width: 100%;
			}
	
			@include medium-up {
				max-width: 300px;
			}
		}

		&--bordered {
			padding: 0 10px;
			border: none;
			.drop-zone__input-container {
				border: 1px solid #B0B0B0;
				border-radius: 3px;
			}
			outline: none;
		}

		.drop-zone__input-container {
			height: 100%;
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			font-size: .9rem;

			&--small {
				@include light-theme-navigation-background;
			}

			svg {
				width: 32px;
				height: 32px;
				fill: black;
				cursor: pointer;
			}
		}
	}
	

	.new-post__form {
		border-radius: 3px;
		box-sizing: border-box;
		color: $nord3;
		display: flex;
		flex-direction: column;
		align-items: stretch;

		.form__row {
			width: 100%;
			
			@include small-up {
				max-width: 100%;
			}

			@include medium-up {
				max-width: 700px;
			}

			margin: 15px auto;
			display: flex;
			flex-direction: column;
			align-items: stretch;

			.form-field__input {
				display: flex;
				box-sizing: border-box;
				// padding: 10px 10px 0 10px;
				position: relative;
				// outline: 1px dashed orange;

				box-shadow: 0 8px 6px -6px rgba(black, .4);

				&.warning {
					box-shadow: 0 8px 6px -6px rgba($nord11, .4);
				}

				input[type=text], textarea {

					flex-grow: 1;
					font-family: inherit;
					font-size: .9rem;
					color: #333;
					border: none;
					outline: none;
					padding: 8px 20px;
					
					margin: 5px 0;
					
					resize: none;
					background: transparent;
					box-sizing: border-box;

					&[disabled] {
						background: darken(desaturate($nord5, 5%), 5%);
						color: $nord4;
					}

					
				}
			}

			.form-row__warning {
				font-size: .8rem;
				color: $nord11;
				text-align: center;
				padding: 10px;
			}
		}

	}

	.new-post__files {
		width: 100%;
			
		@include small-up {
			max-width: 100%;
		}

		@include medium-up {
			max-width: 700px;
		}

		margin: 15px auto;

		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;

		&--single {
			grid-template-columns: 1fr;
			grid-row-gap: 10px;
		}

		.new-post__file {
			box-sizing: border-box;
			padding: 10px;
			img {
				width: 100%;
				height: auto;
				box-shadow: 0 0 5px rgba(black, .4);
				border-radius: 3px;
			}

			.new-post__filename {
				white-space: nowrap;
				max-width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}