@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
.lazy__image {
	opacity: 0;
	// -webkit-transition: .4s opacity ease-in;
	// transition: .4s opacity ease-in;
	// -webkit-transform: translateZ(0);
	transition: transform .25s cubic-bezier(0.0,0.0,0.2,1),opacity linear .25s;

	&.lazy__image--orientation-3 {
		transform: rotate(180deg);
	}

	&.lazy__image--orientation-6 {
		transform: rotate(90deg);
	}

	&.lazy__image--orientation-8 {
		transform: rotate(270deg);
	}

	&.lazy__image--visible {
		opacity: 1;
		// animation: .4s fadeIn ease-in;
	}

	&.lazy__image--selected {
		transform: translateZ(0px) scale3d(0.9, 0.9, 1);
		transition: transform .25s cubic-bezier(0.0,0.0,0.2,1),opacity linear .25s;
	}
}