@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
.lazy__image {
	opacity: 0;
	visibility: hidden;
	transition: opacity .25s linear, visibility .25s linear;

	&.lazy__image--orientation-3 {
		transform: rotate(180deg);
	}

	&.lazy__image--orientation-6 {
		transform: rotate(90deg);
	}

	&.lazy__image--orientation-8 {
		transform: rotate(270deg);
	}

	&.lazy__image--visible {
		opacity: 1;
		visibility: visible;
	}
}