@import "../../styles/index";

.navigation__component {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 55px;
	background: #444;
	box-shadow: 0 0 5px rgba(black, .2), inset 0 1px 0 rgba(white, .1);
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	
	color: white;

	.navigation__content {

		// @include container;
		@include medium-up {
			max-width: 740px;
		}
		@include media(medium-to-large) {
			max-width: 970px;
		}
		@include large-up {
			max-width: 1280px;
		}
		
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 100%;

		> * {
			flex-grow: 1;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.navigation__link {
			display: flex;
			align-items: center;
			cursor: pointer;
			height: 100%;

			.navigation__link-icon {
				width: 26px;
				height: 26px;
				transition-property: fill;
				transition-timing-function: linear;
				transition-duration: .2s;

				svg {
					fill: white;					
				}
			}

			.navigation__link-name {
				padding: 0 20px;
				font-weight: 100;

				display: none;

				@include medium-up {
					display: block;
				}
			}

			&:hover {
				.navigation__link-name {
					color: $nord9;
					text-decoration: underline;
				}
				svg {
					fill: $nord9;
				}
			}

			&--textual {
				$color: #2db93d;
				background-color: $color;
				box-shadow: inset 1px 0 0 rgba(white, .2), inset 0 1px 0 rgba(white, .2), inset -1px 0 0 rgba(white, .2), inset 0 -1px 0 rgba(white, .2);
				color: white;
				text-shadow: 0 0 2px rgba(black, .4);
				border-radius: 3px;

				&:hover {
					background-color: darken($color, 5%);
					box-shadow: 0 0 5px rgba(black, .2);
				}

				&:active {
					background-color: darken($color, 5%);
					box-shadow: inset 0 0 5px rgba(black, .4);
				}
			}
		}
	}
}