.selectable-image__container {
	position: relative;
	
	> * {
		transition: all .25s cubic-bezier(0.0,0.0,0.2,1);
	}

	&--deleted {
		opacity: .4;
	}

	&--selected {
		> * {
			transform: translateZ(0px) scale3d(.9, .9, 1);
		}
	}
}